.feild{
	height: 290px;
	width: 388px;
	background-color: white;
	border: 1px solid gray;
	border-radius: 2px;	
	box-shadow:1px 1px 1px rgba(0,0,0,0.5);
	margin: 0;
}

.feild_image{
	width: 10px;
	height: 20px;
	left: 150px;
	position: absolute;
	bottom: 0;
}

.feild_left{
	width: 116px;
	display: inline-block;
	position: relative;
	left: 20px;	
}

.feild_right{
	width: 220px;
	display: inline-block;
	position: relative;
	left: 30px;
	top: 5px;
}

.feild_new{
	display: inline-block;
	position: relative;
	right: 26px;
}

.feild_old{
	display: inline-block;
	position: relative;	
	left: 145px;
}

.feild_div{
	width: 220px;
	height: 24px;
	display: inline-block;
	left: -20px;
	border-bottom: solid 1px;
	position: relative;
	margin-top: 15px;
}

.feild_dd{
	width: 79px;
	height: 24px;
	margin-top: 20px;
	text-align: left;
} 

.feild_dd:hover{
	cursor: pointer;
}

.feild_edit{
	float: right;
	position: relative;
	right: 10px;
}

.feild_edit:hover{
	cursor: pointer;
}