.navbar {
  margin: 0;
  background-color: #24B1CD;
  color: white;
  height: 50px;
}

.image{
  height: 40px;
  position: absolute;
  right: 31vw;  
  top: 5px;
  display: inline-block;
}

img{
  height: 40px;
  width: 40px;
}

.left, .right{
  display: inline-block;
  height: 50px;
}

.left{
	position: absolute;
	left: 10vw;
}

.right{
	position: absolute;
	right: 10vw;
}

.left div{
  display: inline-block;
  line-height: 50px;
  width: 10vw;
  position: relative;
}

.left div:hover{
	background-color: #29E8F5;
	transition: 0.5s;
}

.right div{
  display: inline-block;
  line-height: 50px;
	width: 10vw;
	position: relative;
}

.right div:hover{
	background-color: #29E8F5;
	transition: 0.5s;
}